
.Section2App {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
body {
    background-color: #f4f4f4;

}
.containerStatus {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: center; /* Center the items horizontally */
    padding: 20px;
}

.text{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.containerCard {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Button styles */
button {
    margin-top: 5px;
    padding: 8px 12px;
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
