.statusContainer {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.statusItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.statusName {
    font-weight: bold;
    font-size: 18px;
}

.statusUptime {
    margin-top: 5px;
    font-size: 14px;
}

.statusPerformance {
    margin-top: 5px;
    font-size: 14px;
}

.statusAge {
    margin-top: 5px;
    font-size: 12px;
    color: gray;
}

.progressBar {
    background-color: #eee;
    border-radius: 5px;
    height: 10px;
    margin-top: 10px;
    width: 100%;
}

.progress {
    background-color: #4caf50;
    height: 100%;
    border-radius: 5px;
    transition: width 0.5s ease;
}


/*.progress {*/
/*    background: repeating-linear-gradient(*/
/*            90deg, !* Horizontal stripes *!*/
/*            #4caf50, !* Green color *!*/
/*            #4caf50 10%, !* Width of green stripe *!*/
/*            #eee 10%, !* Background color *!*/
/*            #eee 20% !* Width of background stripe *!*/
/*    );*/
/*    height: 100%;*/
/*    border-radius: 5px;*/
/*    transition: width 0.5s ease; !* Smooth transition for width change *!*/
/*}*/